# Database configuration（PostgreSQL）
DB_HOST=localhost
DB_PORT=5432
DB_NAME=indie-commerce
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_SCHEMA=public

# Superadmin credentials
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin

# Cookie secret (change this in production)
COOKIE_SECRET=ZM3ivE2ksI3m3GduiTdHvw

# Google OAuth Client ID
GOOGLE_CLIENT_ID=

# Application environment（prod、dev）
APP_ENV=dev
PORT=3000

# Asset configuration
# ASSET_VOLUME_PATH=./static/assets
PUBLIC_DOMAIN=localhost

# SMTP Configuration for Email
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

# Email configuration
EMAIL_FROM_ADDRESS='"Indie Commerce Shop" <noreply@example.com>'
STOREFRONT_URL=http://localhost:3001
